.app {
	position: relative;

	/* App container for keyboard */
	& .piano-container {
		width: 100%;
		text-align: center;
		overflow-x: auto;
		margin-bottom: 1.5em;
	}

	& button.btn-options {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		background: transparent;
		padding: 0.875em;

		& img {
			width: 1.5em;
			height: 1.5em;
		}
	}
}
