/* Variables */

:root {
	--clr-bg: #DDD;
	--clr-bg-hi: #DDD;
	--clr-fg: #222;
	--clr-fg-hi: #555;
	--clr-red: #C00;
	--clr-red-hi: #F10;
	--clr-border: #CCC;
	--clr-focus: #79B;
	/** Text input background color */
	--clr-txti-bg: #E8E8E8;
	/** Text input background color focused */
	--clr-txti-bg-focus: #F8F8F8;
}
