.options {
	position: absolute;
	right: 0;
	top: 0;
	padding: 1em;
	background-color: var(--clr-bg);
	box-shadow: -0.25em 0.25em 0.5em rgba(0,0,0,0.25);

	& .inputs {
		margin-bottom: 0.75em;
	}

	& .text-col {
		line-height: 1.375em;
		font-size: 0.875em;
		max-width: 24em;

		& p:last-child {
			margin-bottom: 0;
		}
	}
}
